*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  /* indentations */
  --margin-size-top-big: 58px;
  --margin-size-top-small: 25px;
  --margin-left-big: 55px;
  --margin-left-middle: 41px;
  --margin-size-bottom-big: 36px;
  --margin-size-bottom-middle: 25px;
  --margin-size-bottom-small: 20px;
  --margin-size-right: 50px;
  --padding-bottom-middle: 28px;
  --padding-bottom-small: 15px;
   
  /* font sizes */
  --font-size-name: 40px;
  --font-size-title: 36px;
  --font-size-infoTitle: 32px;
  --font-size-titleMobile: 24px;
  --font-size-lang: 20px;
  --font-size-hover: 18px;
  --font-size-summary: 16px;
  --font-size-paragraph: 14px;

    /* colors */
    --color-text-general: #f6efe8;
    --color-text-title: #fdf2e3;
    --color-text-additional: rgb(239, 247, 247);
    --color-background: #67767c;
    --color-background-sidebar: #22333b;
    --color-link: #ddc5aa;
    --color-visited: #c29661;
    --color-hover: #ffd6a4;
    --color-profile-firstname: #f5e2cc;
    --color-profile-secondname: #dea96c;
    --color-borders: #797878;
    --color-border-black: rgb(208, 206, 206);
    --color-email: #c29661;
}
