*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  /* indentations */
  --margin-size-top-big: 58px;
  --margin-size-top-small: 25px;
  --margin-left-middle: 41px;
  --margin-size-bottom-middle: 25px;
  --margin-size-bottom-small: 15px;
  --padding-bottom-middle: 28px;
   
  /* font sizes */
  --font-size-title: 36px;
  --font-size-infoTitle: 32px;
  --font-size-lang: 20px;
  --font-size-hover: 18px;
  --font-size-paragraph: 14px;

  /* colors */
  --color-text-general: #000000;
  --color-text-title: #1E1E1E;
  --color-text-additional: #263036;
  --color-background: white;
  --color-bg-additional: rgb(230, 230, 255);
  --color-background-sidebar: #86A3B4;
  --color-link: #1a31a3;
  --color-visited: #4c036e;
  --color-hover: #03709b;
  --color-profile-firstname: white;
  --color-profile-secondname: #1C2E8C;
  --color-borders: #1E1E1E;
  --color-border-black: black;
  --color-email: #1C2E8C;
}

#general{
  margin: 0 auto;
  width: 80%;
  background-color: var(--color-bg-additional);
}
.mt58{
  margin-top: var(--margin-size-top-big);
}
.fw600{
  font-weight: 600;
}
.ml41{
  margin-left: var(--margin-left-middle);
}
.marg2849{
  margin: 28px 0 49px;
}
.mb20{
  margin-bottom: var(--margin-size-bottom-small);
}
p{
  font-size: var(--font-size-paragraph);
  color: var(--color-text-general);
}
.wrapper{
  display: flex;
  justify-content: center;
}
img{
  margin-top: 15px;
  display: block;
  max-width: 300px;
  padding-left: 30px;
}
.profile-name{
  margin-top: var(--margin-size-bottom-small);
  color: var(--color-text-additional);
  font-size: var(--font-size-infoTitle);
}
.surname{
  color: var(--color-text-additional);
  font-size: var(--font-size-infoTitle);
}
#selfie{
  width: 25%;
}
#contacts{
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  background-color: var(--color-bg-additional);
}
.counter{
  width: 40%;
  margin-top: 15px;
  color: var(--color-text-additional);
  font-size: var(--font-size-infoTitle);
  text-align: center;
}
.card{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.send{
  padding: 5px 10px;
  background-color:rgb(160, 171, 255);
  color: var(--color-background);
  border-radius: 6px;
  outline: 1px solid var(--color-visited);
  border: none;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.sended{
  font-size: var(--font-size-lang);
}
.work-exp{
  padding: 30px;
}
.title{
  margin: var(--margin-size-top-small);
  margin-top: 0;
  margin-left: 0;
  color: var(--color-text-title);
  font-size: var(--font-size-title);
  border-bottom: 5px solid var(--color-border-black);
  padding-bottom: var(--padding-bottom-middle);
}
h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.contactInfo{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 29px 19px;
  margin-bottom: var(--margin-size-bottom-small);
  color: var(--color-text-general);
}
.blueText{
  color: var(--color-email);
}
a:link{
  color: var(--color-link);
  text-decoration: underline;
}
a:visited{
  color: var(--color-visited);
  text-decoration: underline;
}
a:hover{
  color: var(--color-hover);
  text-decoration: none;
  font-size: var(--font-size-hover);
}
.fs16>p{
  font-size: var(--font-size-summary); 
}
.bold-text{
  font-size: var(--font-size-paragraph);
  line-height: 17px;
}